#about-body {
    background-image: none;
}

#experiences-container {
    background-image: none;
}

#about-body{
    position: relative;
    padding-bottom: 60px;

}

.about-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 50px;
}

.section-header{
    font-size: 50px;
    text-align: center;
    margin-bottom: 15px;
}



#about-content{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin: 50px;
    padding: 80px 0;
    background-color: rgb(75, 72, 72);
    border: 1px solid rgb(70, 67, 67);
    border-radius: 20px;
    
}

#about-content img{
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#right-about{
    flex-basis: 60%;
    padding-right:50px;
    
}

#about-content p {
    color: #1f1f1f;
    font-size: 25px;
    line-height: 3;
}

#experience-container {
    border: none;
    margin-bottom: 75px;
}

.experience {
    margin: 50px;
    display: flex;
    font-size: 30px;
    align-items: center;
    color: #1f1f1f;
    border: 1px solid black;
    border-radius: 20px;
}


.experience-details{
    display: flex;
    flex-direction: column;
    margin: 100px;
}

.experience-details p{
    margin: 40px;
}

.experience-description{
    line-height: 3;
    flex: 1;
    flex-basis: 60%;
    margin-top: auto;
    margin-bottom:auto;
}



.education-row{
    display: flex;
    font-size: 30px;
    border: 1px solid red;
    margin: 50px;
    color: #1f1f1f;
}

.institution{
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.institution p {
    margin: 10px;
}

.degree{
    border: 1px solid pink;
    flex-basis: 60%;
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

