#projects-header{ /* #override universal header element*/
    width: 100%;
    height: 20vh;
    background: none;
}

#projects-body {
    background-image: none;
}

#projects-container {
    padding: 10px 10%;
}

.projects-content-row{
        padding: 10px 10%;
        border-bottom: 1px solid #ccc;
}

.projects-content-row:last-child{
    border-bottom: 1px solid #ccc;
}

.repo-description{
    margin-left: 10px; 
}

.repo-container{
    display: flex;
    align-items: center;
}

