* {
    /*universal header, will target all elements on webpage */
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box
        /*Total size of an element includes padding*/
}


body {
    background: #696969;
}

h1 {
    font-family: 'Monaco', monospace;
    color: #e0e0e0;
}

h2 {
    font-size: 45px;
    font-family: 'Monaco', monospace;
    color: #e0e0e0;
}

#index-header {
    width: 100%;
    height: 92vh;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-size: 48px;
    color: #E0e0e0;
    font-weight: bold;
    text-align: center;
    font-family: 'Monaco', monospace;

}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    align-items: center;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    font-family: 'Courier New', Courier, monospace;

}


nav ul li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -6px;
    width: 0;
    height: 3px;
    background: #f5f5f5;
    transition: 0.4s;
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}

.website-icons-footer {
    margin-top: 20px;
}

.website-icons-footer a {
    font-size: 40px;
    color: #BDBDBD;
    margin-right: 15px;
    display: inline-block;
    transition: 0.25s;

}

.website-icons-footer a:hover {
    color: #ffffff;
    transform: translateY(-5px);
}

#background-image {
    position: fixed;
    top: 3%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/vintage_computers_upscaled.png');
    background-size: 95%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    background-position-y: 25px;
}


/* about me */

#about-body {
    background-image: none;
}

#experiences-container {
    background-image: none;
}

#about-body {
    position: relative;
    padding-bottom: 60px;

}

.about-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 50px;
}

.section-header {
    font-size: 50px;
    text-align: center;
    margin-bottom: 15px;
}



#about-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px;
    padding: 80px 0 80px 25px;
    background-color: rgb(75, 72, 72);
    border: 1px solid rgb(70, 67, 67);
    border-radius: 20px;

}

#about-content img {
    margin: auto;
    width: 550px;
    height: 500px;
    border-radius: 20px;
}

#right-about {
    flex-basis: 60%;
    padding-right: 50px;

}

#about-content p {
    padding-left: 50px;
    color: #bdbdbd;
    font-size: 25px;
    line-height: 2.5;
}

#experience-container {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 50px;
    border-radius: 20px;
    margin-bottom: 75px;
}

.experience {
    background-color: rgb(75, 72, 72);
    border-radius: 20px;
    margin: 50px;
    display: flex;
    font-size: 30px;
    align-items: center;
    color: #1f1f1f;

    border-radius: 20px;
}


.experience-details {
    background-color: rgb(90, 89.5, 89.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 100px;
    max-width: 350px;
}

.experience-details p {
    text-align: center;
    margin: 40px;
    line-height: 2.5;
    font-size: 25px;
    color: #bdbdbd;
}

.experience-description {
    font-size: 25px;
    padding-right: 40px;
    color: #bdbdbd;
    line-height: 3;
    flex: 1;
    flex-basis: 60%;
    margin-top: auto;
    margin-bottom: auto;
}



.education-row {
    padding: 15px;
    padding-top: 30px;
    background-color: rgb(75, 72, 72);
    border-radius: 20px;
    display: flex;
    font-size: 30px;
    margin: 50px;
    color: #bdbdbd;
}

.institution {
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.institution p {
    margin: 10px;
}

.degree {
    flex-basis: 60%;
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

/* Projects */

#projects-header {
    /* #override universal header element*/
    width: 100%;
    height: 12vh;
    background: none;
}

#projects-body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 70px;
}

#projects-container {
    padding: 10px 10%;
}

#projects-container>*:not(:last-child) {
    margin-bottom: 10px;
}

.projects-content-row {
    padding: 30px 10%;
    background-color: rgb(75, 72, 72);
    border-radius: 20px;
    margin: 50px;
}


.repo-description {
    font-size: 25px;
    margin-left: 10px;
    line-height: 3;
    color: #bdbdbd;
}


.repo-container {
    display: flex;
    align-items: center;
}


.project-header {
    transition-duration: 0.25s;
    text-align: center;
    color: #e4e4e4;
}

.project-header:hover {
    transform: translateY(-5px);
    color: #ffffff;
}

.project-header-link {
    text-decoration: none;

}

/* Contact */

#header {
    /* #override universal header element*/
    width: 100%;
    height: 30vh;
    background: none;
}

#contact-body {
    background: #696969;
}

.content-title {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
}

.left-contact {
    flex-basis: 35%;
}

.right-contact {
    flex-basis: 60%;
}

.contact-info {
    margin-top: 25px;
    margin-bottom: 35px;
    font-size: 30px;
    color: #bdbdbd;
}

.contact-info i {
    margin-right: 15px;
}



.website-icons {
    margin-top: 50px;
}

.website-icons a {
    font-size: 50px;
    color: #BDBDBD;
    margin-right: 15px;
    display: inline-block;
    transition: transform 0.25s;

}

.website-icons a:hover {
    color: #ffffff;
    transform: translateY(-5px);


}

.dl-btn {
    background-color: #BDBDBD;
    border: none;
    color: #424242;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 81px 2px;
    /* adjust this when changing header font*/
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.25s;
}

.dl-btn:hover {
    background-color: #ffffff;
    color: #757575;
}

.right-col form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 20px;
    border-radius: 8px;
}

.submit-btn {
    background-color: #BDBDBD;
    border: none;
    color: #424242;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.25s;
}

.submit-btn:hover {
    background-color: #ffffff;
    color: #757575;
}