*{ /*universal header, will target all elements on webpage */
    margin: 0;
    padding: 0;
    font-family: 'sans-serif'; /*Try different fonts*/
    box-sizing: border-box /*Total size of an element includes padding*/
}


body{
    background: #696969;
}

#header{ /* # indicates specific id of an element */
    width: 100%;
    height: 92vh;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-size: 48px; 
    color: #ffff; 
    font-weight: bold; 
    text-align: center; 
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    align-items: center;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #ffff;
    text-decoration:none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -6px;
    width: 0;
    height: 3px;
    background: #ffff;
    transition: 0.4s;
}

nav ul li a:hover::after{
    width: 100%;
    left: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}

.website-icons-footer{
    margin-top: 20px;
}

.website-icons-footer a{
    font-size: 40px;
    color:#333;
    margin-right: 15px;
    display: inline-block;

}

#background-image {
    position: fixed;
    top: 3%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/vintage_computers_upscaled.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}